

body{
    background-color: rgb(0, 140, 255);
}

#myImg{
    width: 50%;
    height: 50%;
    border-radius: 25px;
    border: solid yellow;
}

h1,h2{
    font: Arial;

}

a{
    font-size: 20px;
}

li{
    color: brown;
}

p{
    text-align: right;
}

/* .myFirstClass {
    margin-left: 10px;
    margin-bottom: 20px;
}

.linkClass {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-right: 25px;

} */

.myGrid{
    display: grid;
    text-align: center;
    width: 100%;
  column-gap: 25%;
  grid-template-columns: 1fr 1fr;
  background-color: #2196F3;
  /* padding: 10px; */
}

.item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  text-align: justify;
  }